.feed {
  flex: 10.5;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.feedWrapper {
  padding: 10px;
  text-align: center;
  align-items: center;
}

.feedRight {
  flex: 1.5;
  border: 1px solid purple;
  flex: 1;
  height: 100vh;
}

.feedRightContainer {
  overflow: scroll;
  height: 100vh;
}

.feedRight h1 {
  text-align: center;
}

.img {
  margin-right: 10px;
  width: 32px;
  height: 32px;
  border-radius: 12px;
}
